header{
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #5B0A32, #8A0E2B, #B71C1C);
  display: flex;
  align-items: center;
  top: 0;
}


.icon__menu{
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
}

.icon__menu i{
  font-size: 20px;
  cursor: pointer;
}
