
#header{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;

}
#footer{
  width: 100%;
  height: 54%;
  display: flex;
  justify-content: end;
  align-items: end;
}
#btregresar{
  background:rgba(0, 56, 101, 0.15);
  border: 1px solid #003865;
  color: #003865;
  border-radius: 6px;
  text-transform: uppercase;
  height: 40%;
}

#btguardar{
  background:rgba(0, 56, 101, 0.15);
  border: 1px solid 692036;
  background: #692036;
  color: #fff;
  border-radius: 6px;
  text-transform: uppercase;
  height: 10%;
  width: 20%;

}
.header-form{
  margin: 0;
  text-transform: uppercase;
  color: #692036;
  font-weight: bolder;
  font-size: 25px;
}
#formmatricula{
  width: 100%;
  height: 80%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}
.form1{
  width:50%;
  height: 100%;
  background: white;
  border-radius: 5px;
  padding: 20px;
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.05));
}
.form2{
  width: 50%;
  height: 100%;
  background: white;
  border-radius: 5px;
  padding: 20px;
  margin-left: 10px;
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.05));
}
.fila1{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 13%;
}
.fila3{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 7%;
  margin-top: 10px;
}
.datos{
  text-transform: uppercase;
  color: #893953;
  font-weight: bolder;
  font-size: 20px;
}
.fila2{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
}
.formulario{
  width: 50%;
  height: 100%;
}
.formulario1{
  width: 60%;
  height: 100%;
  margin-left: 5px;
}
.formulario2{
  width: 50%;
  height: 100%;
}
.formulario3{
  width: 50%;
  height: 100%;
}
.formulario4{
  width: 33%;
  height: 100%;
}
.formulario5{
  width: 35%;
  height: 100%;
}
.formulario6{
  width: 50%;
  height: 100%;
}
.formulario7{
  width: 100%;
  height: 100%;
}
.formulario8{
  width: 25%;
  height: 100%;
}
.formulario9{
  width: 50%;
  height: 100%;
}
.example-right-align {
  text-align: right;
}
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}
.fila1 mat-form-field + mat-form-field {
  margin-left: 8px;
}
.fila2 mat-form-field + mat-form-field {
  margin-left: 8px;
}

